body {
  background: url(./assets/img/7-16-19-rebbe\ 2.jpg) fixed center/cover;
  /* background-color: rgb(36, 36, 35); */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.animation-overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: #111111;
  z-index: -1; /* Ensure it sits on top */
  animation: animBefore 1.5s ease forwards;
  animation-delay: 0.15s;
  will-change: opacity, transform;
  transform: translateZ(0);
}
@keyframes animBefore {
  to {
    opacity: 0;
  }
}

/* #img-rebbe {
  margin: 0 auto;
  height: 500px;
  block-size: 700px;
  background: url(./assets/img/7-16-19-rebbe\ 2.jpg) fixed center/cover
    no-repeat;
  border-radius: 1%;
  display: flex;
} */

#img-rebbe p {
  min-height: 53vh;
  font-family: "Italianno", cursive;
  font-weight: 900;
  font-style: normal;
  font-size: 6rem;
  color: rgb(244, 220, 206);
  margin: 0;
  padding: 0;
  opacity: 0;
  transform: translateX(-100px);
  animation: headerAnim 2s forwards;
}
@keyframes headerAnim {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.R-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 140px;
}
header .nav-bar {
  height: 100%;
}
.nav-bar ul {
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
  height: 100%;
}
.nav-bar {
  margin: 0px auto;
  padding: 25px;
  width: 70%;
  list-style: none;
  background: rgba(40, 75, 99, 0.888);
  border-radius: 6px;
}

.nav-bar li {
  height: 100%;
}

.nav-bar li :hover {
  transform: scale(1.5);
  color: burlywood;
}

a {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  /* color: rgb(241, 233, 228); */
  color: rgb(244, 220, 206);
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 1.3rem;
  transition: 0.8s ease;
  position: relative;
}

a:hover::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: burlywood;
  width: 100%;
  bottom: -10px;
}

.life {
  margin: 0px auto;
  width: 70%;
  background: rgba(232, 237, 223, 0.794);
  padding: 25px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.life ul {
  padding: 0;
  margin: 0;
}
.life li {
  display: grid;
  grid-template-columns: 25% 75%;
  align-items: center;
  color: rgb(31, 56, 57);
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  list-style: none;
}
.life h5 {
  font-size: 1.3rem;
  color: rgb(31, 56, 57);
  font-family: "Italianno", cursive;
  font-weight: 1000;
  font-style: normal;
  font-size: 2.3rem;
}
#life ul,
li {
  /* width: 70%;
  padding: 10px;
  margin: 0px auto;
  margin-bottom: 2px; */
  list-style: none;
}

h4 {
  display: flex;
  justify-content: center;
  color: rgb(241, 233, 228);
  font-family: "Roboto", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1.5rem;
}
.campaigns {
  width: 70%;
  margin: 0 auto;
  /* background: rgba(232, 237, 223); */
  background: rgba(232, 237, 223, 0.794);

  border-radius: 15px;
  padding: 25px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.campaigns img {
  width: 70px;
  cursor: pointer;
  transition: 1.5s ease;
}
.campaigns img:hover {
  transform: scale(1.3);
}

#campaigns-card1 {
  grid-area: 1 / 1 / 2 / 2;
}
#campaigns-card2 {
  grid-area: 1 / 2 / 2 / 3;
}
#campaigns-card3 {
  grid-area: 1 / 3 / 2 / 4;
}
#campaigns-card4 {
  grid-area: 2 / 1 / 3 / 2;
}
#campaigns-card5 {
  grid-area: 2 / 2 / 3 / 3;
}
#campaigns-card6 {
  grid-area: 2 / 3 / 3 / 4;
}
#campaigns-card7 {
  grid-area: 3 / 1 / 4 / 2;
}
#campaigns-card8 {
  grid-area: 3 / 2 / 4 / 3;
}
#campaigns-card9 {
  grid-area: 3 / 3 / 4 / 4;
}
#campaigns-card10 {
  grid-area: 4 / 2 / 5 / 3;
}

.cards {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  /* border: 1px solid; */
  border-radius: 50px;
  background: rgba(40, 75, 99, 0.888);
  margin: 10px;
  padding: 10px;
  height: 150px;
  color: rgb(241, 233, 228);
  box-shadow: 2px 3px 14px 1px rgb(44, 43, 43);
}

.c-text {
  margin-left: 25px;
}
.Nigunim {
  width: 70%;
  margin: 0 auto;
}

.legacy {
  margin: 70px;
}
.legacy h4 {
  margin: 5px;
}

.shluchim-map {
  height: 500px;
  width: 70%;
  margin: 0 auto;
  display: flex;
}
.shluchim-map img {
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  border: solid 1px;
  border-radius: 250px;
}
footer h4 {
  color: black;
}
footer {
}

footer ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
footer i {
  color: black;
}
footer a {
  transition: 0.8s ease;
  position: relative;
}
footer a:hover {
  transform: scale(1.5);
}
footer a::after {
  display: none;
}
